@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90vw;
  background-color: #f7f7f2;
  border-radius: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 2rem 1.5rem;
}
.popup h3 {
  color: #141414;
  font-weight: BOLD;
  padding-bottom: 1rem;
}
.popup form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.popup form input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}
.popup form input:focus {
  border-color: #4c4ffd;
  outline: none;
}
.popup form button {
  padding: 0.75rem;
  background-color: #2746DF;
  color: #f7f7f2;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup form button:hover {
  background-color: #4c4ffd;
}

.contador-visitas {
  padding: 1rem;
  background-color: #2746DF;
  position: fixed;
  top: 20px;
  left: 20px;
  border: 1px solid #f7f7f2;
  border-radius: 999px;
}

h1, h2, h3, h4, p, a {
  font-family: Manrope;
  color: #f7f7f2;
}

p {
  font-size: 1.5rem;
  font-weight: 100;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.paquetes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 8rem;
  min-width: 80%;
}

.tarjeta {
  background: #FC5938;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 30dvw;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarjeta .icono {
  max-width: 30%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.tarjeta h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.tarjeta .valor {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tarjeta .descripcion {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.tarjeta .btn-anadir {
  background: #f7f7f2;
  color: #FC5938;
  border: none;
  padding: 1rem 2rem;
  border-radius: 999px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1.5rem;
}
.tarjeta .btn-anadir:hover {
  background: #FFE053;
}

footer {
  margin-top: 4rem;
  margin-bottom: 30dvh;
}

.total {
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
}

.btn-enviar {
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto;
  background: #f7f7f2;
  color: #2746DF;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
}
.btn-enviar:hover {
  background: #FC5938;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2746DF;
}

main {
  width: 80%;
  height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btnInicio {
  margin-top: 3rem;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f7f7f2;
  border: none;
  color: #2746DF;
  border-radius: 1000px;
}
.btnInicio:hover {
  background-color: #FFE053;
  color: #141414;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
