@import "components/variables";
@import "components/login";
@import "components/visitas";
@import "components/font";
@import "components/cards";
@import "components/footer";
@import "components/proyects";
@import "components/navbar";
@import "components/regreso";
@import "components/aboutus";

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $brand-blue;
}

main {
    width: 80%;
    height: 100dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btnProyectos {
    margin-top: 2rem;
    padding: 2rem 4rem;
    font-size: 1rem;
    font-weight: 200;
    background-color: $brand-blue;
    border: 1px solid $primary-white;
    border-radius: 999px;
    text-decoration: none;
    font-size: 3rem !important;
}

.btnInicio {
    margin-top: 2rem;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 200;
    background-color: $brand-blue;
    border: 1px solid $primary-white;
    border-radius: 999px;

}

.hidden {
    display: none;
}