.paquetes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 8rem;
  min-width: 80%;
}

.tarjeta {
  background: $brand-red;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 30dvw;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;

  .icono {
    max-width: 30%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h4 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  .valor {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .descripcion {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .btn-anadir {
    background: $primary-white;
    color: $brand-red;
    border: none;
    padding: 1rem 2rem;
    border-radius: 999px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 1.5rem;

    &:hover {
      background: $brand-yellow;
    }
  }
}

