footer {
  margin-top: 4rem;
  margin-bottom: 30dvh;

  .total {
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
  }

  .input-mail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem !important;

    .fila-input {
      display: flex;
      gap: 1rem;

      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    label {
      font-family: "Manrope";
      font-size: 1rem;
      color: $primary-white;
      text-align: center;
      font-weight: bold;
    }

    input {
      padding: 0.75rem 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: #4c4ffd;
        outline: none;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    button {
      flex: 1 1 200px;
      max-width: 250px;
      font-size: 1.5rem;
      padding: 0.6rem 1.5rem;
      border: none;
      border-radius: 999px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.3s ease;
    }

    .btn-enviar {
      background: $primary-white;
      color: $brand-blue;

      &:hover {
        background: rgb(182, 182, 228);
        color: $brand-blue;
      }
    }

    .btn-cancelar {
      background: $brand-red;
      color: $primary-white;

      &:hover {
        background: rgb(255, 110, 100);
      }
    }
  }
}

@media (max-width: 760px) {
  .buttons {
    flex-direction: column;
    height: 1rem;
    margin: auto;

    button {
      font-size: 1rem !important;
      margin: auto;
    }
  }

  footer .input-mail {
    padding: 1.5rem 1rem 0;
    margin-bottom: 4rem !important;
  }

  footer .input-mail .fila-input {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  h2 {
    font-size: 3rem !important;
  }
}
