.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 1rem 1.5rem;

  .nav-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 720px) {
  .navbar a {
    font-size: 0.8rem;
    text-align: center;
  }
}