.contador-visitas {
    padding: 1rem;
    background-color: $brand-blue;
    position: fixed;
    top: 20px;
    left: 20px;
    border: 1px solid $primary-white;
    border-radius: 999px;
}

  @media (max-width: 720px) {
    
    .contador-visitas {
        display: none;
    }
  }